{namespace JIRA.Templates.KDO}

/**
 * Kitchen Duty Overview Page - Base Template
 */
{template .overviewPage}
    <div id="kdp-overview"> HELLO
        <div id="kdp-calendar"></div>
    </div>
{/template}
